@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&family=Dongle&family=Lobster&display=swap');

body {
    font-family: "Anta", sans-serif;
    margin: 1.5em;
    background-color: rgb(23, 53, 86);
    color: white;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 5rem 25rem auto auto auto auto auto auto;
    grid-template-areas: 
            "head head head"
            "h h h"
            "AM AM AM"
            "s s s"
            "ed ed ed"
            "e e e"
            "c c c"
            "foot foot foot";
    grid-gap: 0;
    margin: 0;
    padding: 0.1rem;
}

header {
    grid-area: head;
    display: grid;
    grid-template-columns: 11rem auto auto;
    grid-template-areas: "name nav welcome";
    align-items: center;
    background-color: rgb(9, 33, 60);
    color: white;
}

h1 {
    grid-area: name;
    font-family: "Lobster", sans-serif;
    font-size: 1.5rem;
    margin-left: 0.5em;
}

#headerNav a{
    color: white;
}

#headerNav ul {
    grid-area: nav;
    display: flex;
    gap: 0.7rem;   
}

#Home {
    grid-area: h;
    position: relative;
    display: grid;
    place-items: center;
}

#Home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

#Home article {
    font-size: 3em;
    position: absolute;
    text-align: center;
    color: rgb(223, 190, 231)
}

#Home article aside button {
    background-color: rgb(9, 33, 60);
    border: solid 0.1em rgb(223, 190, 231);
    border-radius: 1em;
    padding: 0.3em 0.7em;
    font-size: 0.5em;
    cursor: pointer;
}

#Home article aside button a {
    font-family: "Anta", sans-serif;
    color: white;
}

h3 {
    text-align: left;
    font-size: 1.6em;
    font-family: "Bebas Neue", sans-serif;
    color:rgb(223, 190, 231);
}

li {
    font-size: 1.05em;
    margin: 0.1em 0;
}

em {
    font-weight: bolder;
    color: rgb(255, 184, 203);
}

p {
    font-family: "Dongle", sans-serif;
    font-size: 1.5em;
    color: rgb(198, 186, 198);
    padding: 0 0.8em;
}

#AboutMe {
    grid-area: AM;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
            "t t"
            "fg a";
    background-color: rgb(23, 53, 86);
}

#AboutMe h3 {
    grid-area: t;
    background-color: rgb(9, 33, 60);
    text-align: center;
    padding: 0.2em 0;
    margin: 0.6em 0;
}

#AboutMe figure {
    grid-area: fg;
    margin: 0.5em 3em;
}

#AboutMe figure figcaption {
    font-family: "Lobster", sans-serif;
    text-align: center;
}

#AboutMe article {
    grid-area: a;
    place-items: center;
    margin: 1em 2em;
}

#Skills {
    grid-area: s;
    text-align: left;
    margin: 1em 2em;
}

#Education {
    grid-area: ed;
    text-align: left;
    margin: 1em 2em;
}

#Experience {
    grid-area: e;
    text-align: left;
    margin: 1em 2em;
}

#Contact {
    grid-area: c;
    text-align: left;
    border: solid 0.5em rgb(223, 190, 231);
    padding: 1em 1.5em;
    margin: 1em 0;
}

footer {
    grid-area: foot;
    text-align: center;
    background-color: rgb(9, 33, 60);
    padding: 1em;
}